SESSION_SECRET_KEY="change-me"
SYNC_DATABASE_URL="sqlite:///./app.db"
ASYNC_DATABASE_URL="sqlite+aiosqlite:///./app.db"
PYTHONDONTWRITEBYTECODE=1
ENV="local"

LLM_API_KEY=""
LLM_BASE_URL="https://open.bigmodel.cn/api/paas/v4/"
LL_MODEL="glm-5.1"

EMBEDDING_API_KEY=""
EMBEDDING_BASE_URL="https://open.bigmodel.cn/api/paas/v4/"
EMBEDDING_MODEL="embedding-3"
