aiosqlite==0.21.0
beautifulsoup4==4.13.4
fastapi==0.115.12
httpx==0.28.1
itsdangerous==2.2.0
Markdown==3.8
markdownify==1.1.0
openai==1.75.0
pdfminer.six==20250327
pydantic==2.11.3
pydantic-settings==2.8.1
python-dotenv==1.1.0
python-multipart==0.0.20
SQLAlchemy==2.0.40
uvicorn==0.34.0
